<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf=8">
		<meta name="viewport" content="width=device-width,  initial-scale=1.0">
		<meta http-equiv="X-AU-Compatible" content="ie-edge,Chrome=1">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">        
		<title>TransTouRent | HOME</title>
	</head>
	<body>
		<div class="fcontainer">
			<div class="f1">
				<img src="{{url_for('static', filename='images/logo.png')}}" class="logo">
			</div>
		</div>
		
		<div class="pcontainer">
			<div class="p1">
				<a href="/login"><img src="{{url_for('static', filename='images/profile.png')}}" class="profile"></a>
			</div>
		</div>
			
		<div>
			<div class="f2">
				<div class= "all">
				  <div class="header-container">
					   <ul>
							<li class="active"><a href="/" >HOME</a></li>
							<li class="active1"><a href="/login">VEHICLE</a></li>
							<li><a href="/login">BOOKINGS</a></li>
							<li><a href="/login">PAYMENT</a></li>
					   </ul>
				  </div>
				  <div class="bk-container">
				
					   <h2 class="welcome">Welcome to TransTouRent</h2>
					   <h2 class="aboutus">About us</h2>
					   <span class="t"></span>
					   <p class="p">TransTouRent is an online rental and reservation for
					   <br>tourist vehicles. We provide services to the people or<br> 
					   tourists that want to travel or take a vacation in Cebu.</p>
					   <div class="overlay"></div>
					
					   
				  </div>
				</div>
			</div>
		</div>
			
     </body>
</html>